#login{
  width:400px;
  height:475px;
  background:#fff;
  margin:0 auto;
  border-radius:6px;
  display:block;
}
#login>span:first-child>a{
 color: rgb(80, 80, 80);
}
#login>span>a{
  color:#bebebe;
  font-size:18px;
  margin-left:22px;
  margin-right:22px;
  line-height:130px;
}
.login_phone{
  outline:none;
  border:none;
  font-size:14px;
  border-bottom:1px solid rgb(94, 223, 154);
  width:320px;
}
.login_1{
  height:48px;
  border-radius:55px;
  background:rgb(94,223,154);
  line-height:48px;
  width:318px;
  margin:0 auto;
  color: #fff;
}
.login_1:hover{
  background:rgb(255,255,255);
  border:1px solid rgb(94,223,154);
  color:rgb(94,223,154);
  cursor:pointer;
  box-sizing:border-box;
}
#login-zh{
  margin-top:-25px;
}
#login-dx{
  margin-top:-25px;
  display:none
}
#zh{
  border-bottom:2px solid rgb(94,223,154);
  border-color:#7adfa9;
  color:#505050;
}
.login_footer{
  font-size:12px;
  line-height:57px;
  position:absolute;
}
.login_footer div{
  float:right;
  margin-left:55px;
}
.login_footer img{
  vertical-align: middle;
}
.login_footer div a{
  color:#000;
}
.passport_zh a{
  color:#565656;
  border-bottom:rgb(94,223,154);
  font-size:14px;
}
.passport_dx a{
  color:#565656;
  border-bottom:rgb(94,223,154);
  font-size:14px;
}
.passport_zh{
  border-bottom:1px solid #7adfa9;
  width:59px;
  margin:0 auto;
  line-height:87px;
  height:60px;
  margin-top:5px;
  margin-bottom:35px;
}
.passport_dx{
  border-bottom:1px solid #7adfa9;
  width:59px;
  margin:0 auto;
  line-height: 30px;
  height: 31px;
  margin-top: 5px;
  margin-bottom: 35px;
}
.border_dx{
  border-bottom:1px solid rgb(204,204,204);
  width:380px;
  margin:0 auto;
  height:10px;
  margin-top:12px;
}
.Dx_button{
  margin-top:-70px;
  width:100px;
  height:25px;
  border-radius:100px;
  margin-left: 55px;
  position: absolute;
  background-color: rgb(94, 223, 154);
  color: rgb(255, 255, 255);
  
}
.Dx_button a{
  background-color:rgb(94,223,154);
  border:1px solid rgb(94,223,154);
}
.Dx_button:hover{
  background-color:rgb(255,255,255);
  border:1px solid rgb(94,223,154);
  color:rgb(94,223,154);
  cursor: pointer;
}
.border_zh{
  border-bottom:1px solid rgb(204,204,204);
  width:380px;
  margin:0 auto;
  height:10px;
  margin-top:12px;
}
.Reg{
  border-radius:20px;
  width:104px;
  height:24px;
  margin:0 auto;
  background-color:rgb(255,255,255);
  border:1px solid rgb(225,225,225);
  color:rgb(80,80,80);
  font-size:14px;
  line-height:24px;
}
.Reg:hover{
 background-color:rgb(80,80,80);
 color:rgb(255,255,255);
 cursor:pointer;
}