/* 无商品的时候 */
.cart-balance{
  width:1210px;
  margin: 0 auto;
  background:#ececec;
}
.cart-noProduct{
  padding: 160px 0px 100px;
}
.center-cart{
  font-weight: 400;
  font-size: 2rem;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.center-p{
  padding:20px 0px;
  font-size: 18px;
  text-align: center;
}
.addcart{
  height: 48px;
  border-radius: 55px;
  background: rgb(94,223,154);
  line-height: 48px;
  width: 318px;
  margin: 0 auto;
  color: #fff;
  margin-top:60px;
  text-align: center;
}
.addcart>a{
  text-decoration: none;
  color:rgb(255, 255, 255);
}
.addcart:hover{
  background: rgb(255,255,255);
  border: 1px solid rgb(94,223,154);
  cursor: pointer;
  box-sizing: border-box;
}
.addcart:hover>a{
  color: rgb(94,223,154);
}
/* 有商品的时候 */
.cart-haveProduct .cart-top{
  width:1085px;
  margin:0 auto;
  padding-left:38px;
  padding: 35px 0;
  height: 35px;
  line-height: 35px;
}
.cart-haveProduct .cart-top>h1{
  zoom: 1;
  font-weight: 400;
}
.cart-info{
  width:1110px;
  margin: 0 auto;
  position: relative;
}
.cart-info>.cart-delete #clearCheck{
  width:114px;
  height:26px;
  float: left;
  text-align: center;
  line-height: 26px;
  border-radius: 24px;
  border:1px solid #bdbdbd;
  cursor: pointer;
  user-select: none;
}
.cart-info>.cart-delete #deleteCheck{
  width:100px;
  height:23px;
  text-align: center;
  float: right;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 2px solid #7adfa9;
  user-select: none;
}
.cart-delete{
  width:775px;
}
.cart-delete::after,.cart-count::after,.cart-info::after{
  content:"";
  display:block;
  clear: both;
}
.cart-count{
  margin:15px 0px 0px;
  float: left;
  padding:10px;
}
.cart-count>input[type="checkbox"]{
  width: 22px;
  height: 105px;
  float: left;
  text-align: center;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  line-height: 105px;
  background:#7adfa9;
}
.cart-count>input[type="checkbox"]::before {
  content:"\2713";
  position: absolute;
  top: 0;
  left: 0;
  background:#bebebe;
  width: 100%;
  height: 100%;
}
.cart-count>input[type="checkbox"]:checked::before {
  content: "\2713";
  color: #fff;
  position: absolute;
  background: #7adfa9;
  top: 0;
  left: 0;
}
.product-box{
  width:742px;
  height:90px;
  float: left;
  padding:7px;
  background:#fff;
  bottom:10px
}
.product-box>table{
  padding-right:13px;
}
.product-box>table td img{
  width:85px;
  height:85px;
}
.product-box>table td a{
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  color:#505050;
}
.product-box>table td .cmCode{
  line-height: 18px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 215px;
  font-size: 12px;
  color:#b4b4b4;
}
.product-box>table td .new_price{
  display: inline-block;
  word-wrap: break-word;
  font-size: 14px;
  max-width: 80px;
  color: #505050;
  margin-right:10px;
}
.product-box>table td .old_price{
  display: inline-block;
  word-wrap: break-word;
  max-width: 80px;
  color: #bdbdbd;
  font-size: 12px;
  text-decoration: line-through;
}
.product-box>table td select{
  cursor: pointer;
  border:none;
  outline: none;
  border-bottom:1px solid #7adfa9;
}
.product-box>table td:nth-child(5)>span{
  color:#505050;
  max-width:210px;
  word-wrap: break-word;
  font-size: 14px;
}
.product-box>table td:last-child>img{
  width:15px;
  height:15px;
  cursor: pointer;
}
.cart-order{
  width:278px;
  background:#fff;
  padding:5px;
  margin-top:20px;
  border-radius: 20px;
  position: absolute;
  right:0px;
}
.order-div{
  padding:30px;
}
.order-div>h2{
  font-size: 24px;
  text-align: center;
  color:#505050;
  font-weight: 400;
}
.order-div>.summary-info{
  border-bottom:1px solid #ececec;
}
.order-div>.summary-info>p{
  color:#505050;
  zoom:1;
  font-weight: 400;
  padding-bottom: 25px;
}
.order-div>.summary-info span:last-child{
  float: right;
}
.order-div>p{
  padding:25px 0px 35px 0px;
  font-size: 18px;
}
.order-div>p>span{
  font-weight: bold;
  color:#505050;
  font-size: 16px;
}
.order-div>p>span:last-child{
  float: right;
}
.order-div>.product-count{
  text-align: center;
}
.order-div>.button{
  cursor: pointer;
  outline: none;
  background-color: rgb(94, 223, 154);
  border: 1px solid rgb(94, 223, 154);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 20px;
  line-height: 40px;
}
.order-div>.button:hover{
  background-color: rgb(255, 255, 255);
  color:rgb(94, 223, 154);
}
.goShopping{
  padding:60px 0px 0px 0px;
  text-align: center;
  width:1190px;
  margin:0 auto;
}
.goShopping>a{
  display: inline-block;
  text-decoration: none;
  width:380px;
  text-align: center;
  border-radius: 45px;
  line-height:45px;
  background-color: transparent;
  border: 1px solid rgb(80, 80, 80);
  color: rgb(80, 80, 80);
}
.goShopping>a:hover{
  color:#fff;
  background:rgb(80, 80, 80);
}
.cart-footer{
  width:1190px;
  margin:0 auto;
  padding-top:70px;
  text-align: center;
}
.cart-footer>.footer-cn{
  width:600px;
  margin:0 auto;
}
.cart-footer>.footer-cn>a{
  border-bottom: 1px solid #7adfa9;
  margin: 0 30px;
  font-size: 14px;
  color:#505050;
}
.cart-footer>.footer-img{
  padding:40px 0px;
}
.cart-footer>.footer-img>img{
  vertical-align: middle;
  margin:0px 10px;
}