.cart-value{
  padding: 160px 0px 100px;
  background:#ececec;
  width:1210px;
  margin: 0 auto;
}
.center-cart{
  font-weight: 400;
  font-size: 2rem;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.center-p{
  padding:20px 0px;
  font-size: 18px;
  text-align: center;
}
.addcart{
  height: 48px;
  border-radius: 55px;
  background: rgb(94,223,154);
  line-height: 48px;
  width: 318px;
  margin: 0 auto;
  color: #fff;
  margin-top:60px;
  text-align: center;
}
.addcart>a{
  text-decoration: none;
  color:rgb(255, 255, 255);
}
.addcart:hover{
  background: rgb(255,255,255);
  border: 1px solid rgb(94,223,154);
  cursor: pointer;
  box-sizing: border-box;
}
.addcart:hover>a{
  color: rgb(94,223,154);
}