/* 首页背景图片 */
.bg_1>.Two_bg{
  height:960px;
  background-image: url("http://127.0.0.1:3000/images/tmp_1543846769039241_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.bg_2>.Three_bg{
  height:960px;
  background-image: url(http://127.0.0.1:3000/images/tmp_1543893147840726_Z26.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
/* 首页第一部分 */
.banner{
  width: 1345px;
  height: 750px;
  margin: 0 auto;
  position: relative;
}
.banner img{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}
.banner ul{
  position: absolute;
  left: 42%;
  bottom: 3%;
}
.banner ul li{
  width: 64px;
  height: 3px;
  background-color: #d3d3d3;;
  margin: 4px 8px;
  float: left;
}
.banner ul .li_1{
  background-color: rgb(43, 255, 0);
}
.banner .next{
  width:70px;
  height:145px;
  background-image: url("http://127.0.0.1:3000/images/next.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 12%;
  top: 50%;
  display:none;
}
.banner .prev{
  width:70px;
  height:145px;
  background-image: url("http://127.0.0.1:3000/images/pre.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 12%;
  top: 50%;
  display:none;
}
.banner .prev:hover,.banner .next:hover,.banner ul li:hover{
  cursor: pointer;
}
/* 首页第二部分 */
.video{
  height:560px;
  position: relative;
  margin:110px  30px 0px 30px
}
.video>.video-container{
  width: 1248px;
  margin: 0 auto;
}
.container1{
  font-size: 22px;
  color: #505050;
  margin-top: 40px;
  height: 24px;
  line-height: 24px;
}
.container2{
  font-size: 60px;
  height: 62px;
  line-height: 62px;
  color: #505050;
  font-weight: 600;
}
.container3{
  font-size: 40px;
  height: 42px;
  line-height: 42px;
  color: #505050;
}
.container4{
  font-size: 14px;
  line-height: 30px;
  color: #505050;
  margin-top: 10px;
}
.conduct{
  height: 96px;
  margin-top: 20px;
}
.conduct>li{
  width:72px;
  height:96px;
  float: left;
}
.conduct>li>a>img:nth-child(even){
  display:none;
}
.conduct>li:hover>a>img:nth-child(odd){
  display:none;
}
.conduct>li:hover>a>img:nth-child(even){
  display:block;
}
.icon-item{
  margin-left:20px;
  margin-right:20px;
}
.right{    
  float: right;
  display: block;
  width: 808px;
  height: 490px;
  box-sizing: border-box;
}
.left{
  float: left;
}
.right>video{
  width:800px;
  height:450px;
}
/* 首页第三部分 */
.pro_one{
  width: 1190px;
  margin:0 auto;
  padding-bottom: 140px;
  position: relative;
}
.three_title>.title_p{
  text-align: right;
  border-bottom: 1px solid #505050;
  line-height: 54px;
  margin-left:840px;
  color: #505050;
  font-size: 30px;
  right: 0;
  top: 0;
}
.three_title{
  text-align: right;
}
.three_title>.title_p1{
  font-size: 30px;
  right: 0;
  bottom: 0;
  height: 54px;
  line-height: 54px;
}
.ul_box{
  margin-top:30px;
  width:100%;
}
.ul_box::after,.tab-container::after,.ndx_last>.last_ul>.tab-container>ul::after{
  content:"";
  clear:both;
  display:block;
}
.ul_box>li>a>p{
  color:#9e9e9e;
}
.ul_box>li>a>.three_st_title{
  font-size:18px;
  margin-top:22px;
  height: 30px;
  line-height: 30px;
  width: 100%;
}
.ul_box>li{
  width:250px;
  float: left;
}
.ul_box>li>a>.three_ce_title{
  font-size: 24px;
  color: #505050;
  height: 28px;
  line-height: 28px;
  width: 100%;
}
.ul_box>li>a>.three_en_title{
  font-size: 12px;
  color: #9e9e9e;
  line-height: 20px;
  margin-top: 10px;
}
.ul_box>li:hover .three_ce_title,.three_en_title{
  color:#7ee2ac;
  cursor: pointer;
}
.ul_box>li:nth-child(odd),.ul_box>li:nth-child(2){
  margin-right:60px;
}
.ul_box>li:nth-child(even){
  margin-top:90px;
}
/* 首页第四部分 */
.pro_two>.Two_center{
  text-align: center;
  background-color: #FFF;
  position: relative;
  height: 1530px;
}
.pro_two>.Two_center>.center-item,.Three_desc>.pro_desc,.Three_desc>.desc_item{
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
.Two_st_title{
  font-size: 42px;
}
.Two_ce_title{
  font-size:68px;
}
.Two_en_title{
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
}
.ndx_pro1{
  position: absolute;
  width: 560px;
  height: 368px;
  top: -63px;
}
.ndx_pro1>a>img,.ndx_pro2>a>img,.ndx_pro4>a>img,.ndx_pro6>a>img,.desc_item>.ndx_pro5>a>img{
  width: 100%;
  display: block;
  height: 280px;
}
.pro_two .ndx_pro5>a>img{
  width: 100%;
  display: block;
  height: 560px;
}
.ndx_pro1>a>p,.ndx_pro2>a>p,.ndx_pro4>a>p,.ndx_pro5>a>p,.ndx_pro6>a>p,.desc_item>.ndx_pro3>a>p{
  height: 46px;
  line-height: 46px;
  text-align: right;
  font-size: 24px;
  color: #505050;
}
.center-item>.ndx_pro2{
  position: absolute;
  width: 564px;
  height: 338px;
  right: 0;
  top: 47px;
}
.Two_title{
  width: 568px;
  height: 280px;
  position: absolute;
  top: -350px;
  right: 0px;
  color: #fff;
  text-align: left;
}
.center-item>.ndx_text{
  position: absolute;
  left: 0;
  top: 352px;
}
.ndx_text>p:first-child{
  font-size:21px;
  height:20px;
  color:#505050;
  text-align: right;
  width:495px;
}
.ndx_text>p:nth-child(2){
  color: #505050;
  height: 72px;
  line-height: 72px;
  font-size:52px;
}
.ndx_text>p:nth-child(3){
  font-size: 14px;
  color: #505050;
  line-height: 22px;
  text-align: left;
  margin-top: 24px;
}
.ndx_pro4{
  position: absolute;
  width: 564px;
  height: 338px;
  right:0px;
  top:442px;
}
.ndx_pro5{    
  position: absolute;
  width: 560px;
  height: 612px;
  left: 0;
  top: 577px;
}
.ndx_pro6{
  position: absolute;
  width: 564px;
  height: 338px;
  right: 0;
  top: 856px;
}
.pro_two>.ndx_button{
  position: absolute;
  left:35%;
  width:360px;
  height:60px;
  background:#7ee2ac;
  text-align: center;
  border-radius: 28px;
  cursor: pointer;
  box-sizing: border-box;
  top:1330px;
}
.pro_two>.ndx_button:hover{
  background:#fff;
  border:1px solid #7ee2ac;
}
.pro_two>.ndx_button>a{
  color:#fff;
  line-height: 60px;
}
/* 首页第五部分 */
.pro_three,.pro_two{
  position: relative;
  width: 1190px;
  margin: 0 auto;
}
/* 首页第六部分 */
.Three_desc{
  text-align: center;
  background-color: #FFF;
  position: relative;
  height: 1550px;
}
.Three_title{
  width: 568px;
    height: 240px;
    position: absolute;
    top: -385px;
    left: 0;
    color: #fff;
    text-align: left;
}
.Three_st_title{
  font-size: 42px;
}
.Three_ce_title{
  font-size: 68px;
}
.Three_en_title{   
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
}
.desc_item>.ndx_pro1{
  position: absolute;
  width: 560px;
  height: 330px;
  top: -35px;
  left: 0;
}
.desc_item>.ndx_pro2{
  position: absolute;
  width: 564px;
  height: 616px;
  right: 0;
  top: 50px;
}
.desc_item>.ndx_pro2>a>img{
  height:564px;
}
.desc_item>.ndx_pro3{
  position: absolute;
  width: 560px;
  height: 330px;
  top: 500px;
  left: 0;
}
.desc_item>.ndx_pro3:hover>a>p{
  color:#7ee2ac;
}
.desc_item>.ndx_pro3>a>img{
  width: 100%;
  display: block;
  height: 280px;
}
.desc_item>.ndx_text{
  position: absolute;
  top:700px;
  text-align: right;
  left:695px;
}
.desc_item>.ndx_pro4,.desc_item>.ndx_pro5{
  position: absolute;
  width: 564px;
  height: 338px;
  right: 0px;
  top: 920px;
}
.pro_three>.ndx_button{
  position: absolute;
  left:35%;
  width:360px;
  height:60px;
  background:#7ee2ac;
  text-align: center;
  border-radius: 28px;
  cursor: pointer;
  box-sizing: border-box;
  top:1365px;
}
.ndx_button:hover{
  background:#fff;
  border:1px solid #7ee2ac;
}
.ndx_button>a{
  color:#fff;
  line-height: 60px;
}
.desc_item>.ndx_text>p:nth-child(3){
  font-size: 14px;
  color: #505050;
  line-height: 22px;
  text-align: right;
  margin-top: 24px;
}
/* 首页第七部分 */
.ndx_container{
  position: relative;
  text-align: center;
  height: 235px;
  width:1190px;
  margin:0 auto;
}
.ndx_container>.container-top{
  color: #505050;
  font-size: 48px;
  padding-bottom: 20px;
}
.ndx_container>.container-ul>li{
  float: left;
  text-align:center;
  margin-right:30px;
}
.ndx_container>.container-ul>li>.title{
  font-size: 22px;
}
.ndx_container>.container-ul>li>.title-item{
  font-size: 14px;
  padding-top: 15px;
  color: #8a8a8a;
}
/* 首页第八部分 */
.ndx_last{
  position: relative;
  width:1225px;
  margin:0 auto;
}
.ndx_last>.last_title{
  height: 164px;
  line-height: 164px;
  text-align: center;
  font-size: 36px;
  color: #505050;
}
.ndx_last>.last_desc{
  font-size: 20px;
  color: #8a8a8a;
  text-align: center;
  height: 24px;
  line-height: 24px;
  margin-top: -36px;
  margin-bottom: 52px;
}
.ndx_last>.last_ul>#tab{
  border-bottom: 1px solid #ececec;
  text-align: center;
}
.ndx_last>.last_ul>#tab>.tab_item{
  display: inline-block;
  width: 250px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  color: #505050;
  cursor: pointer;
}
.ndx_last>.last_ul>.tab-container>ul:not(:first-child){
  display:none;
}
.ndx_last>.last_ul>.tab-container{
  position: relative;
  top: 10px;
}
.ndx_last>.last_ul>.tab-container>ul{
  text-align: center;
  width:1190px;
  margin:0 auto;
}
.ndx_last>.last_ul>.tab-container>ul>li{
  float: left;
  margin:auto 4px;
}
.tab-container>ul>li>a>.img_box>img{
  width:100%;
}
.ndx_last>.last_ul>.tab-container>ul>li>a>p{
  font-size: 16px;
  height: 33px;
  line-height: 33px;
  background: #fff;
  color: #8a8a8a;
  overflow: hidden;
}
#tab>.active{
  color: #5fdd9a !important;
  border-bottom: 3px solid #5fdd9a;
}
.tab-container>ul>li>a>.img_box>img:hover{
  cursor: zoom-in;
}
.tab-container>ul>li>a>.img_box{
  width: 279.5px;
  position: relative;
  background: #ececec;
}