/* 顶部公告 */
.bg{
    height:30px;
    background:url("../images/nav_bg.jpg")
  }
.Nav{
    background:#fff;
    width:1900px;
    height:94px;
}
/* logo图片 */
.logo{
    float: left;
    width: 565px;
    text-align: center;
    height:64px;
}
.container{
    background:#fff;
    z-index: 3;
    position: fixed;
    width:100%;
  }
.drop_down-right>ul>li{
    line-height: 64px;
}
/* 下拉菜单 */
.drop_down-center,.textFour>div>ul>li,.textFive>div>ul>li{
    float:left;
}
.drop_down-center>ul>li{
    float: left;
    list-style: none;
    line-height: 64px;
    margin-right: 30px;
    margin-left: 30px;
    width: 105px;
    text-align: center;
    cursor: pointer;
}
.Nav>.container>div>ul>li{
    float:left;
    margin-right:30px;
    margin-left:30px;
}
.Nav>.container>div>ul,.Nav-text,.Nav>.container>.logo>a>img{
    height: 64px;
}
.Nav>.container>div>ul>li>.cart>.cartNumber{
    display: none;
    position: absolute;
    top: -15px;
    left: 15px;
    min-width: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background-color: #60DE9A;
    border-radius: 10px;
    z-index: 3;
}
.Nav>.container>div>ul>li>.cart{
    position: relative;
}
/* 群组选择器，共用一种样式 */
.drop_down-center .textOne,.textTwo,.textThree,.textFour,.textFive{
    width:100%;
    position:absolute;
    display:none;
    left:0;
    background:#f0f0f0;
    cursor: default;
}
.Nav-textOne:hover>a:first-child,.Nav-textTwo:hover>a:first-child,.Nav-textThree:hover>a:first-child,.Nav-textFour:hover>a:first-child,.Nav-textFive:hover>a:first-child{
    color:#7adfa9;
    border-bottom:1px solid #7adfa9;
    padding-bottom:20px;
}
/* 群组选择器，共用一种样式 */
.Nav-textOne:hover div,.Nav-textTwo:hover div,.Nav-textThree:hover div,.Nav-textFour:hover div,.Nav-textFive:hover div{
    display:block;
    z-index:2;
}
.drop_down-center>ul>li>a,.textFour>div>ul:first-child>li>a,.textFive>div>ul:first-child>li>a{
    color:#505050;
}
/* 第一个下拉菜单 */
.textOne>div>ul:first-child>li{
    line-height: 30px;
    text-align: left;
    margin-left:300px;
}
.textOne>div>ul:first-child{
    float:left;
    margin-right:30px;
}
.textOne>div>ul:nth-child(2){
    width:1500px;
    height:225px;
}
.textOne>div:first-child{
    padding-top:20px;
}
.textOne>div>ul:nth-child(2)>li{
    float:left;
    width: 225px;
    margin-right: 30px;
    cursor: pointer;
}
.textOne>div>ul:nth-child(2)>li>div>a>p{
    clear:left;
}
.textOne>div>ul>li>a,.textOne>div>ul:nth-child(2)>li>div>a,.textTwo>div>ul>li>a,.textThree>div>ul>li>a,.textFour>div>p>a,.textFive>div>ul:first-child>li>a{
    color:#000;
}
.textOne>div>p a,.textTwo>div>p>a,.textThree>div>p>a,.textFour>div>p>a,.textFive>div>p>a{
    color:#505050;
    border-bottom:1px solid #7adfa9;
    padding-bottom: 5px;
}
.textOne>div>ul:nth-child(2)>li>div>a>p{
    line-height: 23px;
    width:225px;
    background:#fff;
    margin-top:-23px;
    color:#505050;
}
/* 第二个下拉菜单 */
.textTwo>div>ul:first-child>li>a>p{
    line-height: 23px;
    width:180px;
    background:#fff;
    margin-top:-23px;
    color:#505050;
}
.textTwo>div>ul:first-child>li{
    float:left;
    margin-bottom:30px;
    width: 180px;
    margin-right: 30px;
}
.textTwo>div>ul:first-child>li>a>img{
    width:180px;
    height:145px;
    margin-right:30px;
}
.textTwo>div>ul:first-child{
    margin-left:310px;
    width: 460px;
    float:left;
}
.textTwo>div:first-child{
    height:500px;
}
.textTwo>div>ul:nth-child(2){
    margin-top: 20px;
    margin-left: 755px;
    width:810px;
    height:410px;
}
.textTwo>div>ul:nth-child(2)>li{
    float: left;
    width:105px;
}
.textTwo>div>ul:nth-child(2)>li>a>p{
    line-height:20px;
    margin-bottom: 20px;
}
/* 第三个下拉菜单 */
.textThree>div>ul>li{
    float:left;
    margin:0 auto;
    width:80px;
}
.textThree>div{
    width:1200px;
    margin:0 auto;
}
.textThree>div>ul:after{
    content:"";
    display:block;
    clear:both;
}
.textThree>div>ul>li>a>p{
    line-height:23px;
}
.textThree>div{
    margin-top:20px;
}
/* 第四个下拉菜单 */
.textFour>div,.textFive>div{
    margin-top:20px;
}
.textThree>div>ul:first-child,.textFour>div>ul,.textFive>div>ul:first-child{
    display: table;
    margin: 0 auto;
}
.textFour>div>ul:first-child>li,.textFive>div>ul:first-child>li{
    margin-right:30px;
    height: 175px;
    width: 225px;
}
.Nav-textFour>a:first-child>img{
    vertical-align: middle;
}
.textFour>div>ul:first-child>li>a>p,.textFive>div>ul:first-child>li>a>p{
    line-height: 23px;
    width:225px;
    background:#fff;
    margin-top:-23px;
    color:#505050;
}
/* 最右边的购物车下拉菜单 */
.drop_down-right>ul>li:nth-child(3):hover ul{
    display:block;
    background:#fff;
    z-index:1;
    text-align: center;
    border-radius: 10px;
    margin-left:-215px;
    opacity: 0.9;
}
.drop_down-right>ul>li:nth-child(3) ul{
    display:none;
    position:absolute;
}
/* .drop_down-right>ul>li:nth-child(3){
    width:45px;
    text-align: center;
} */
.drop_down-right>ul>li:nth-child(3)>ul>li>#shopping>div>img{
    width:65px;
    height:55px;
    margin-right:10px;
}
.drop_down-right>ul>li:nth-child(3)>ul>li>#shopping,.drop_down-right>ul>li:nth-child(3)>ul:nth-child(2)>.noCart>.cart-text{
    width:320px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    text-align: center;
}
.drop_down-right>ul>li:nth-child(3)>ul>li>#shopping>div>p{
    width:215px;
    height: 15px;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 0px;
    overflow: hidden;
    line-height: 15px;
}
.drop_down-right>ul>li:nth-child(3)>ul>div:first-child{
    border-bottom:1px solid #ddd;
    margin-bottom: 5px;
    height:50px;
    line-height: 45px;
}
.drop_down-right>ul>li:nth-child(3)>ul>.pr-number{
    display: none;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #BEBEBE;
    height: 20px;
    position: relative;
    top: -46px;
}
.drop_down-right>ul>li:nth-child(3)>ul>li>#shopping>div,.drop_down-right>ul>li:nth-child(3)>ul>.cartNum{
    margin-left:10px;
    margin-right:10px;
    text-align: left;
    line-height: 35px;
    margin-bottom:15px;
}
.drop_down-right>ul>li:nth-child(3)>ul>.cartNum>span{
    font-size: 20px;
}
.drop_down-right>ul>li:nth-child(3)>ul>.cartNum>div{
    float: right;
    background: #7adfa9;
    border-radius: 40px;
    width: 71px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color:#fff;
}
.drop_down-right>ul>li:nth-child(3)>ul>.cartNum>div:hover{
    background:#fff;
    color:rgb(94,223,154);
    border:1px solid #7adfa9;
    box-sizing: border-box;
    cursor: pointer;
}
/* 搜索框 */
.search{
    width: 100%;
    position: absolute;
    background:#fff;
    left:0px;
    top:0px;
    display:none;
    height:390px;
    text-align: center;
    z-index:3;
    position: fixed;
}
.search>.searchText>.input>input{
    border:none;
    border-bottom:1px solid #7adfa9;
    outline: none;
    width:40%;
    height:70px;
    font-size: 30px;
    margin-top:110px;
    color:#505050;
}
.search>.searchText>.input>img{
    height:25px;
    vertical-align: middle;
}
.search>div>div:nth-child(2)>ul>li>a{
    line-height: 23px;
    color:#505050;
}
.search>div>div:nth-child(2)>ul{
    line-height: 23px;
    margin-right: -20%;
    margin-left:30%;
    padding: 30px;
    float:left;
}
.search>div>div:nth-child(2)>ul:nth-child(2)>li:first-child{
    font-size:14px;
}
.search>div>div:nth-child(2)>ul>li,.search>div>div:nth-child(3)>ul>li{
    margin-top:5px;
    font-size: 10px;
}
.search>div:after{
    content:"";
    display:block;
    clear:both;
}
.search>div>img{
    width:22px;
    height:22px;
}
.search>div>img:hover,.textOne>div>ul:nth-child(2)>li:hover,.search>.container>.input>div>img:hover,#noticeText-left>li:hover{
    cursor: pointer;
}
.Nav>.search>.container>div:nth-child(2)::after{
    content:"";
    display:block;
    clear:both;
}
#fade{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    background: rgba(0,0,0,.5);
    z-index:2;
    display:none;
}
.search>div:first-child{
    position:absolute;
    right:50px;
    top:50px;
}
/* 公告 */
.notice{
    background:url("../images/nav_bg.jpg");
    height:30px;
}
.notice>div:first-child>#noticeText-left{
    height:30px;
    overflow: hidden;
    float: left;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 25px;
    width:920px
}
.notice>div:first-child>#noticeText-left>li>a{
    color:#fff;
}
.notice>div:first-child>#noticeText-left>li>a:hover,.notice>div:first-child>.noticeText-right>li:hover>a{
    border-bottom: 1px solid #fff;
}
.notice>div>.noticeImg{
    width:20px;
    float: left;
    line-height: 32px;
}
.notice>div:first-child{
    margin:0 auto;
    width:1410px;
    height:30px;
}
.notice>img{
    vertical-align: middle;
}
.notice>div:first-child>.noticeText-right{
    height:30px;
    float: left;
    display: flex;
    font-size: 14px;
    line-height: 25px;
    text-align: right;
}
.notice>div:first-child>.noticeText-right>li>a{
    height:30px;
    font-size: 12px;
    line-height: 25px;
    color:#fff;
}
.notice>div:first-child>.noticeText-right>li{
    margin:0px 0px 0px 30px
}